{
  "root": true,
  "extends": ["airbnb-base"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "linebreak-style": ["error", "windows"],
    "arrow-parens": ["error", "as-needed"],
    "camelcase": "off"
  }
}
