* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#faf3ff), to(#ebe5f0));
  background: -webkit-linear-gradient(#faf3ff, #ebe5f0);
  background: -o-linear-gradient(#faf3ff, #ebe5f0);
  background: linear-gradient(#faf3ff, #ebe5f0);
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Montserrat;
}

.weather-box {
  position: relative;
  -webkit-border-radius: 6.25px;
          border-radius: 6.25px;
  -webkit-box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1rem 4.5rem rgba(0, 0, 0, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  background: #fff;
  width: 400px;
  height: 218px;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.weather-box p.weather-box__country {
  color: #383838;
  font-size: 21px;
}

.weather-box p.weather-box__description {
  color: #4CB6B0;
}

.weather-box .temperature-box {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.weather-box .temperature-box .temperature-box__degree {
  color: #2C7B79;
  font-size: 1.98em;
}

.weather-box:hover {
  -webkit-box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 0.4rem 0.7rem rgba(0, 0, 0, 0.05);
  -webkit-transform: translateY(-2.5px);
      -ms-transform: translateY(-2.5px);
          transform: translateY(-2.5px);
}

.weather-box::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fff;
  -webkit-border-radius: 6.25px;
          border-radius: 6.25px;
  position: absolute;
}

.weather-box.done::before {
  display: none;
}

.weather-box .weather-box__loader {
  position: absolute;
  width: 45px;
  height: 45px;
  border: 4.5px solid transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 0.49);
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: 1.5s spin infinite linear;
          animation: 1.5s spin infinite linear;
}

.weather-box .weather-box__loader.done {
  visibility: hidden;
  opacity: 0;
}

.weather-box__error {
  position: absolute;
  z-index: 3;
  display: none;
  color: #F93838;
  text-align: center;
  padding: 5px;
}

.weather-box__error-log {
  position: absolute;
  z-index: 3;
  display: none;
  color: #F93838;
  padding: 5px;
  text-align: center;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
