*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background: linear-gradient(rgb(245, 245, 245), rgb(250, 250, 250))
  font-family: Montserrat, Arial, sans-serif

.weather-widget
  display: flex
  flex-flow: column
  justify-content: space-around
  align-items: center
  width: 400px
  height: 218px
  padding: 10px
  border-radius: 8px
  box-shadow: 0 16px 62px rgba(0, 0, 0, .05)
  background: #fff
  cursor: pointer
  transition: box-shadow .3s, transform .3s
  &__loader
    position: absolute
    top: 50%
    left: 50%
    width: 45px
    height: 45px
    border: 4px solid transparent
    border-radius: 50%
    border-top-color: #888
    transform: translate(-50%, -50%)
    animation: 1.5s spin infinite linear
    &_done
      display: none
  &__country
    color: #383838
    font-size: 21px
  &__temperature
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    &-degree
      color: #2c7b79
      font-size: 31px
  &__description
    color: #4cb6b0
  &__error
    position: absolute
    display: none
    padding: 5px
    color: #f93838
    text-align: center
  &:hover
    box-shadow: 0 6px 11px rgba(0, 0, 0, .05)
    transform: translateY(-2.3px)
  &::before
    content: ""
    position: absolute
    width: 100%
    height: 100%
    background: #fff
    border-radius: 8px
  &_done::before
    display: none

.block__weather-widget
  position: relative

@keyframes spin
  from
    transform: translate(-50%, -50%) rotate(0deg)
  to
    transform: translate(-50%, -50%) rotate(360deg)
